<style type="text/css">
	h3{
		text-transform: uppercase;
		font-family: 'Oswald Light';
		color:purple;
		font-size: 18px;
	}
	h4{
		text-transform: lowercase;
		font-size: 14px;
	}
	.newsfeed .list-item{
		color:purple;
		border-top: 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
		padding: 5px 0;
		border-left: 5px solid #ff0099;
	}
	.newsfeed .list-item .profile-tab{
		line-height: 1em;
		float:left;
	}
	.newsfeed .action{
		font-weight:700;
		font-family: 'Lato Bold';
	}
	.newsfeed .sub{
		font-size: 10px;
		color:#555;
		margin-left: 8px;
	}
	.save-to-device{
		float:right;
		color:#555;
	}
	.newsfeed .list-item p{
		display: inline-block;
		margin: 10px 5px;
		font-size: 12px;
	}
	.newsfeed .list-item p.feed-item-title{
		font-weight: 700;
		font-family: 'Lato Bold';
		margin-left:0;
	}
</style>

<section>
	<h3>Recent Activity</h3>
    <div class="list-group newsfeed">
    	<div class="list-item row">
    		<span class="profile-tab col-xs-1"></span>
    		<div class="col-xs-12">
    		<h4>
    			<span class="action">New</span> 
    			Calendar Event 
    			<span class="sub">1 day ago</span>
    			<div class="save-to-device">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="sub">Save to Device</span>
				</div>
    		</h4>
    		<p class="feed-item-content">
				[calendar event] added
    		</p>
			</div>
    	</div>
    	    	<div class="list-item row">
    		<span class="profile-tab col-xs-1"></span>
    		<div class="col-xs-12">
    		<h4>
    			<span class="action">modified</span> 
    			study materials
    			<span class="sub">2 days ago</span>
    			<div class="save-to-device">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="sub">Save to Device</span>
				</div>
    		</h4>
				<p class="feed-item-content">[teacher name] updated [assignment]</p>
			</div>
    	</div>
    	    	<div class="list-item row">
    		<span class="profile-tab col-xs-1"></span>
    		<div class="col-xs-12">
    		<h4>
    			<span class="action">New</span> 
    			Study Materials
    			<span class="sub">1 day ago</span>
    			<div class="save-to-device">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="sub">Save to Device</span>
				</div>
    		</h4>
				<p class="feed-item-content">[teacher name] added [assignment]</p>
			</div>
    	</div>
    </div>

</section>
